html {
  font-family: Monospace, 'Roboto', 'Times New Roman', sans-serif;
}
* {
  box-sizing: border-box;
  & * {transition: color 0.5s;
      transition: background-color 0.5s;
  }
}
body {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1201px) {
  html {
    font-size: 20px;
  }
}